h2 {
    color: #fff;
}

.modal-content {
    color: #444;
    background-color:rgba(255, 255, 255, 0.932) !important;
    box-shadow: 0 0px 20px 0 rgba(0,0,0,0.3);
}

.card {
    color:#fff;
    background-color: rgba(0,0,0,0.8);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    margin: auto;
}

.list-group-item, form {
    background-color: rgb(245, 244, 244);
    color: #444;
}

.first-level {
    font-weight: bold;
}

.card button,
.list-group-item button {
    float: right;
    margin: 5px;
}

.btn-add {
    float: none !important;
    margin: 5px;
}

.page {
  background-color: #2db6e8; /* fallback if background image fails */
  background-repeat: no-repeat;
  background-image: url('/static/img/NZ.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100%;
}

.page nav {
    position: fixed;
    top: 0;
    left: 0;
}

.nav-transparent {
    background-color: #171717;
    font-size: 1.2em;
    z-index: 100;
}

.nav-transparent .nav-link,
.nav-transparent .navbar-brand, 
.nav-transparent p,
.modal-footer .btn {
    color: #fff;
}

.nav-transparent .navbar-brand {
    font-weight: bold;
}

.nav-link.active,
.nav-transparent .navbar-brand:hover,
.nav-transparent .nav-link:hover {
    background-color: #21627c;
}

.page div.container {
    width: 100vw;
    height: 100vh;
    padding-top: 100px;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(155,50,26, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(155,50,26);
}

.btn-xs {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-color: transparent;
    box-shadow: transparent;
    border-radius: 3px;
    color:#21627c;
}

.btn-xs:hover {
    color: #2db6e8;
    border-color: transparent;
}

.btn-check:focus+.btn,
.btn:focus {
    box-shadow: none;
    border-color: transparent;
}

.modal-footer .btn,
form .btn {
    background-color:#21627c;
}

.modal-footer .btn:hover,
.modal-footer .btn:focus,
form .btn:hover,
form .btn:focus {
    background-color: #2db6e8;
}

.login-form {
    width: 300px;
    height: 300px;
    left      : 50%;
    top       : 50%;
    position  : absolute;
    transform : translate(-50%, -50%);
    background: rgb(245, 244, 244);
    border-radius: 10px;
    padding: 20px;
}

.login-form h2 {
    color:#444;
    font-weight: bold;
}
