{% extends 'base.html' %}
{% block title %}Items{% endblock %}
{% block body %}
    <!-- <button id="open-add-form">Add New Item</button>

    <form id="add-item" style="display:none;" method="POST" action="/item">
        <label>Category</label>
        <select name="category">
            {% for category in categories %}
            <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}    
        </select>
        </br>
        <label for="name-field">Name</label>
        <input id="name-field" class="form-control" type="text" name="name">
        <input type="submit" value="Add" class="btn btn-primary">
        <button type="button" onclick="close_form(this)">Cancel</button>
    </form>   -->
    
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add New Item
    </button>

    <!-- Add Item Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-item" method="POST" action="/item">
                    <label>Category</label>
                    <select name="category">
                        {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}    
                    </select>
                    </br>
                    <label for="name-field">Name</label>
                    <input id="name-field" class="form-control" type="text" name="name">
                </form>
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
            </div>
        </div>
        </div>
    </div>

    <h2>Items</h2>
    <ul>
        {% for category in categories %}
        <li>
            {{ category.name }}
            <ul>
                {% for item in category.items|sort(attribute='name') %}
                    <li>
                        {{ item.name }}
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ item.id }}">
                            Edit
                        </button>
                        
                        <!-- Edit Item Modal -->
                        <div class="modal fade" id="exampleModal-{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit Item</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form id="edit-item" method="POST" action="/item/{{ item.id }}/edit">
                                        <label>Category</label>
                                        <select name="category">
                                            <option value="{{ category.id }}">{{ category.name }}</option>
                                            {% for cat in categories %}
                                            {% if cat != category %}
                                            <option value="{{ cat.id }}">{{ cat.name }}</option>
                                            {% endif %}
                                            {% endfor %}    
                                        </select>
                                        </br>
                                        <label for="name-field" >Name</label>
                                        <input id="name-field" class="form-control" type="text" value="{{ item.name }}" name="name">
                                        <!-- <input type="submit" style="display:none;" value="Save" class="btn btn-primary submit"> -->
                                    </form>  
                                
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
                                </div>
                            </div>
                            </div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <script src="static/js/items.js"></script>    
{% endblock %}
</html>