{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<h2>Welcome back</h2>
<form id="form-login" class="login" method="POST" action="/users/login">
    <div class="mb-3">
        <label for="email-field">Email</label>
        <input id="email-field" class="form-control" type="email" name="email">
    </div>
    <div class="mb-3">
        <label for="password-field">Password</label>
        <input id="password-field" class="form-control" type="password" name="password">
    </div>

    <button type="submit" class="btn btn btn-secondary">Log in</button>
</form>
{% endblock %}