{% extends 'base.html' %}
{% block title %}{{ template.name }} Template{% endblock %}
{% block body %}
     <!-- Button trigger modal -->
     <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-create">
        Create Trip
    </button>

    <!-- Add Trip Modal -->
    <div class="modal fade" id="exampleModal-create" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Create Trip</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add-trip" method="POST" action="/{{template.id}}/trip">
                    <label for="name-field">Name</label>
                    <input id="name-field" class="form-control" type="text" name="name">
                    <label for="date-field">Date</label>
                    <input id="date-field" class="form-control" type="text" name="date" placeholder="YYYY-MM-DD">
                </form>
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
            </div>
        </div>
        </div>
    </div>    

    <h2>{{ template.name }} Template</h2>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Edit
    </button>
    
    <!-- Edit Template Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Template</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" class="edit-template" method="POST" action="/template">
                    <label for="name-field">Name</label>
                    <input id="name-field" class="form-control" type="text" name="name" value="{{ template.name }}">
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="edit(this, '{{ template.id }}')" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
        </div>
    </div>
    </br>
    <ul>
        {% for category in categories %}
        {% if not category.deleted or category.items %}                
            <li>
                {{ category.name }}
                {% if category.items%}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ category.id }}">
                        Add Item
                    </button>

                    <!-- Add Trip Modal -->
                    <div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="add-item" method="POST" action="/{{template.id}}/template_item">
                                    <label>Item</label>
                                    <select name="item_id">
                                        {% for item in category.items %}
                                        {% if not item.deleted %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endif %}
                                        {% endfor %}    
                                    </select>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %}

                <ul>
                    {% for item in category.items|sort(attribute='name') %}
                        {% if item in template.items %}
                        <li>
                            {{ item.name }}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
    </ul>
    
    <script src="/static/js/template.js"></script>
{% endblock %}
</html>