{% extends 'base.html' %}
{% block title %}Template{% endblock %}
{% block body %}
    
    <h2>{{ template.name }} Template {{ template.id }}</h2>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                {% if category.items%}
                    <button onclick="openAddForm(this)">Add Item</button>

                    <form class="add-item" style="visibility:hidden;" method="POST" action="/{{template.id}}/template_item">
                        <label>Item</label>
                        <select name="item">
                            {% for item in category.items %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}    
                        </select>
                        <input type="submit" value="Add" class="btn btn-primary">
                    </form>  
                {% endif %}

                <ul>
                    {% for item in category.items|sort(attribute='name') %}
                        {% if item in template.items %}
                        <li>
                            {{ item.name }}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    
    <script src="/static/js/template.js"></script>
{% endblock %}
</html>