{% extends 'base.html' %}
{% block title %}Trip{% endblock %}
{% block body %}
    <h2>{{ trip.name }} Trip {{ trip.trip_date }}</h2>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                {% if category.items %}
                    <button onclick="openAddForm(this)">Add Item</button>

                    <form class="add-item" style="visibility:hidden;" method="POST" action="/{{trip.id}}/trip_item">
                        
                        <label>Item</label>
                        <select name="item">
                            {% for item in category.items %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}    
                        </select>
                
                        <label for="name-field">Quantity</label>
                        <input id="name-field" class="form-control" type="text" name="quantity">
                        <input type="submit" value="Add" class="btn btn-primary">
                        <button type="button" onclick="close_form(this)">Cancel</button>
                    </form>
                {% endif %} 
                <ul>
                    {% for item in category.items|sort(attribute='name') %}
                        {% if item in trip.items %}
                        <div>
                            {% for trip_item in item.trip_items %}
                                {% if trip_item.trip_id == trip.id %}                                 
                                    {% if trip_item.checked %}
                                    <input type="checkbox" checked onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span style="text-decoration:line-through;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% else %}
                                    <input type="checkbox" onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span style="text-decoration:none;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <script src="/static/js/trip.js"></script>
{% endblock %}
</html>