{% extends 'base.html' %}
{% block title %}{{ trip.name }} Trip{% endblock %}
{% block body %}
    <h2>{{ trip.name }} Trip {{ trip.trip_date }}</h2>
    
    <input type="checkbox" id="1" onclick="toggle(this)">Hide checked out items
    
    <ul>
        {% for category in categories %}
            <li>
                {{ category.name }}
                {% if category.items %}
                    <!-- <button onclick="openAddForm(this)">Add Item</button>

                    <form class="add-item" style="display:none;" method="POST" action="/{{trip.id}}/trip_item">
                    
                        <label>Item</label>
                        <select name="item">
                            {% for item in category.items %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}    
                        </select>
                
                        <label for="name-field">Quantity</label>
                        <input id="name-field" class="form-control" type="text" name="quantity">
                        <input type="submit" value="Add" class="btn btn-primary">
                        <button type="button" onclick="close_form(this)">Cancel</button>
                    </form> -->

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ category.id }}">
                        Add Item
                    </button>

                    <!-- Add Trip Modal -->
                    <div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="add-item" method="POST" action="/{{trip.id}}/trip_item">
                    
                                    <label>Item</label>
                                    <select name="item">
                                        {% for item in category.items %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endfor %}    
                                    </select>
                            
                                    <label for="name-field">Quantity</label>
                                    <input id="name-field" class="form-control" type="text" name="quantity">
                                </form>                            
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %} 
                <ul>
                    {% for item in category.items|sort(attribute='name') %}
                        {% if item in trip.items %}
                        <div>
                            {% for trip_item in item.trip_items %}
                                {% if trip_item.trip_id == trip.id %}                                 
                                    {% if trip_item.checked %}
                                    <input class="hide" style="display:inline;" type="checkbox" checked onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span class="hide" style="text-decoration:line-through; display:inline;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% else %}
                                    <input type="checkbox" style="display:inline;" onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span style="text-decoration:none; display:inline;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
    <script src="/static/js/trip.js"></script>
{% endblock %}
</html>