{% extends 'base.html' %}
{% block title %}{{ trip.name }} Trip{% endblock %}
{% block body %}
    <h2>
        {{ trip.name }} Trip {{ trip.trip_date }}
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Edit
        </button>
    </h2>
    <!-- Edit Trip Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Edit Trip</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" class="edit-trip" method="POST" action="/trip">
                    <label for="name-field">Name</label>
                    <input id="name-field" class="form-control" type="text" name="name" value="{{ trip.name }}">
                    <label for="date-field">Date</label>
                    <input id="date-field" class="form-control" type="text" name="date" value="{{ trip.trip_date }}">
                </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" onclick="edit(this, '{{ trip.id }}')" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
        </div>
    </div>
    </br>
    <input type="checkbox" id="1" onclick="toggle(this)">Hide checked out items
    
    <ul>
        {% for category in categories %}
        {% if not category.deleted or category.items %}                
        <li>
                {{ category.name }}
                {% if category.items %}
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal-{{ category.id }}">
                        Add Item
                    </button>

                    <!-- Add TripItem Modal -->
                    <div class="modal fade" id="exampleModal-{{ category.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Add Item</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form class="add-item" method="POST" action="/{{trip.id}}/trip_item">
                    
                                    <label>Item</label>
                                    <select name="item">
                                        {% for item in category.items %}
                                        {% if not item.deleted %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                        {% endif %}
                                        {% endfor %}    
                                    </select>
                                    </br>
                                    <label for="name-field">Quantity</label>
                                    <input id="name-field" class="form-control" type="text" name="quantity">
                                </form>                            
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="submitForm(this)">Save</button>
                            </div>
                        </div>
                        </div>
                    </div>
                {% endif %} 
                <ul>
                    {% for item in category.items|sort(attribute='name') %}
                        {% if item in trip.items %}
                        <div>
                            {% for trip_item in item.trip_items %}
                                {% if trip_item.trip_id == trip.id %}                                 
                                    {% if trip_item.checked %}
                                    <input class="hide" style="display:inline;" type="checkbox" checked onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span class="hide" style="text-decoration:line-through; display:inline;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% else %}
                                    <input type="checkbox" style="display:inline;" onclick="changeChecked(this, '{{ trip_item.id }}')">
                                    <span style="text-decoration:none; display:inline;">{{ item.name }} {{ trip_item.quantity }}</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
    </ul>
    <script src="/static/js/trip.js"></script>
{% endblock %}
</html>