{% extends 'base.html' %}
{% block title %}Trips{% endblock %}
{% block body %}
    <button id="open-add-form">Add New Trip</button>    
    
    <form id="add-trip" style="display:none;" method="POST" action="/trip">
        <label for="name-field">Name</label>
        <input id="name-field" class="form-control" type="text" name="name">
        <label for="date-field">Date</label>
        <input id="date-field" class="form-control" type="text" name="date" placeholder="YYYY-MM-DD">
        <input type="submit" value="Add" class="btn btn-primary">
        <button type="button" onclick="close_form(this)">Cancel</button>
    </form>  
    
    <h2>My Trips</h2>
    <ul>
    {% for trip in trips %}
        <li><a href="/trips/{{trip.id}}">{{ trip.name }} {{trip.trip_date}}</a></li>
    {% endfor %}
    </ul>

    <script src="static/js/trips.js"></script>
{% endblock %}
</html>